body {
    width: auto;

    margin: 0 auto;
}

.form {
    padding: 15px;
    text-align: center;
}

.parent {
    position: relative;
    top: 15px;
    border: 1px solid black;
    width: 100%;
}

.child {
    width: 50%;
}

#income {
    position: relative;

}

#expense {
    position: absolute;
    right: 0;
    top: 0;

}

.tableIncome {
    width: 100%;
    text-align: center;
    padding: 15px;
    line-height: 20px;
}
.tableIncome th, td{
     text-align: left;
 }

.tableExpense {
    width: 100%;
    text-align: center;
    padding: 15px;
    line-height: 20px;
}

.tableExpense th, td{
    text-align: left;
}